set timeout=5
set default=0
set gfxmode=1024x768x32
set gfxpayload=1024x768x32

menuentry "POLER-OS v0.9.2 (64-bit, Graphene-style FB)" {
    insmod multiboot2
    insmod part_msdos
    insmod elf
    echo "Loading POLER-OS v0.9.2 (framebuffer v2)..."
    multiboot2 /boot/poler-os64
    boot
}

menuentry "POLER-OS v0.9.2 (64-bit, serial console)" {
    insmod multiboot2
    insmod part_msdos
    insmod elf
    echo "Loading POLER-OS v0.9.2 (serial)..."
    multiboot2 /boot/poler-os64 console=serial
    boot
}
